@if $use-dashboards == true{

/*------------------------------------*\
    $DASHBOARDS
\*------------------------------------*/
/**
 * Base style
 *
  <div class="dashboard__wrapper">
    //
  </div>
 *
 */
.dashboard__wrapper {
  position: relative;
  height: 100%;
  left: 0;
  top: 0;
}




/**
 * 2 column Style
 *
    <div class="dashboard__wrapper dashboard__2column">
      <div class="dashboard__aside"></div>
      <div class="dashboard__main">
　　　　　　<div class="dashboard__content"></div>
          <div class="dashboard__footer"></div>
      </div>
    </div>
 *
 * TODO: CREATE A DEMO
 *
 * ┌───────┬──────────────────────────┐
 * │       │ main                     │   ↑
 * │       │ ┌─────────────────────┐  │   │
 * │       │ │                     │  │　cacl(100% - $footerHeight)
 * │ aside │ │       content       │  │   │
 * │       │ └─────────────────────┘  │   ↓
 * │       ├──────────────────────────┤   ↑
 * │       │          Footer          │  $footerHeight
 * └───────┴──────────────────────────┘   ↓
 *
 */
// TODO: Move it to _vars.scss
.dashboard__aside {
  width: $dashboard__aside;
  height: 100%;
  min-height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  z-index: 1;
}


.dashboard__main {
  position: relative;
  z-index: 2;
  margin-left: $dashboard__aside;
}


.scrollable__content {
  max-height: 100%;
  overflow: auto;
  height: 100%;
}


}//endif
