/*------------------------------------*\
    $LISTS
\*------------------------------------*/
/**
 * Base list style
 */
ul {
  list-style-type: none
  list-style-type: none;
}






ul.numbered-list {
  list-style-type:decimal;
}
