/*------------------------------------*\
    $RESET
\*------------------------------------*/



a {
  text-decoration: none; // Remove text decoration
  outline: none;         // Removing the dotted outline : http://css-tricks.com/removing-the-dotted-outline/
}


input::-moz-focus-inner {
  border: 0;             // Removing the dotted outline : http://css-tricks.com/removing-the-dotted-outline/
}
