/*------------------------------------*\
    $MIXINS
\*------------------------------------*/
@mixin font ($font-family, $font-size, $color, $base: 16) {
    margin: 0;
    padding: 0;
    color: $color;
    letter-spacing:0.1em;
    vertical-align: baseline;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    font : {
        size: $font-size + px;
        size: ($font-size / $base) + rem;
        style: normal;
        weight: 700;
        family: $font-family;
    }
}



/**
 * Hide Text for Logo
 */
@mixin hide-text {
    overflow: hidden;
    text-indent: -9000px;
    display: block;
}




/**
 * Border Radius
 * @param    {Number} $borderRadius - border radius
 */
@mixin border-radius($border-radius) {
    -webkit-border-raius: $border-radius + px;
            border-raius: $border-radius + px;
}



/**
 * Create vendor-prefixed CSS in one go, e.g.
 *
   `@include vendor(border-radius, 4px);`
 *
 * Thanks to inuit.css for the `vendor` Sass:
 */
@mixin vendor($property, $value...){
    -webkit-#{$property}:$value;
       -moz-#{$property}:$value;
        -ms-#{$property}:$value;
         -o-#{$property}:$value;
            #{$property}:$value;
}
